            <div className="input-wrapper">
                {<%- safeString(label) %>}
                <LineHighlighterTextbox
                    initialValue={this.state.input<%- upperCaseFirst(inputID) %>}
                    invalidLines={
                        this.state.invalidInputs.get(<%- safeString(inputID) %>) || new Set()
                    }
                    onChange={set<%- upperCaseFirst(inputID) %>}
                />
            </div>
