            <div className="text-input-wrapper">
                <LineHighlighterTextbox
                    label="<%- title %>"
                    initialValue={this.state.input<%- upperCaseFirst(inputID) %>}
                    invalidLines={
                        this.state.invalidInputs.get("<%- inputID %>") || new Set()
                    }
                    onChange={set<%- upperCaseFirst(inputID) %>}
                />
            </div>
