            <div className="output-table-wrapper">
                <ResultDisplay
                    fieldLabels={[<%- fieldLabels.map(x => `"${x}"`).join(", ") %>]}
                    solutionData={
                        (typeof this.state.solution === "string")
                        ? this.state.solution
                        : this.state.solution.<%- outputID %>
                    }
                />
            </div>
