            <div className="text-input-wrapper">
                <LineHighlighterTextbox
                    label="<%- title %>"
                    initialValue={this.state.<%- stateValue %>}
                    errorLineNumbers={this.state.invalidInputLines.<%- stateValidation %>}
                    onChange={<%- onChange %>}
                />
            </div>
