#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;

    width: 100%;
}

.text-input-wrapper {
    flex: 1 0 0;

    min-width: 12em;
    /*border: thin solid black;*/
}
.text-input-wrapper > * {
    width: 100%;
}

.output-table-wrapper {
    min-height: 6em;
    width: 100%;
    border: thin solid black;
    border-radius: 0.2em;
}
.output-table-wrapper > * {
    width: 100%;
}

